
$translateYvalorAmplio:translateY(30px);
$translateYvalorMinimo:translateY(0);
$translateXNegativo:translateX(-5px);
$translateXPositivo:translateX(5px);

//Tipos de opacidad
$sinOpacidad:0;
$conOpacidadTotal:1;
$conOpacidadMedia:0.4;

//Scale
$scaleMaximo:scale(1);
$scaleMenosMaximo:scale(0.97);