@use "dimensiones" as *;
@use "colores" as *;

@mixin btn-disenyos($class) {

  background-color: $color-btn;
  color: $color-background-page;
  border: $without-border;
  padding: $btn-padding-topybottom $btn-padding-rightyleft;
  cursor: pointer;

  &:hover {
    background-color: $color-btn-hover;
  }

  @if $class == "btnSearch-bar" {
    float: $derecha;
    width: $btn-width20;
    font-weight: bold;
    box-sizing: border-box;
  } @else {
    border-radius: $border-radius;
      float: $izquierda;
  }
}

@mixin img-tamanyo($class) {
  @if $class == "logo" {
    width: $img-pequenya-width;
    height: $img-pequenya-height;
  } @else if $class == "perfil-pequenyo" {
    width: $icon-mid-width;
    height: $icon-mid-height;
  } @else {
    width: $img-width;
    height: $img-height;
  }
}
@mixin div-disenyos($class){
    @if $class == ""{

    }
}