body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
        "header"
        "hero"
        "container"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

/* HEADER */
header {
    grid-area: header;
    background-color: white;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    padding: 0px 20px;
    height: 80px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.logo-container .logo-icon {
    width: 150px;
    height: 75px;
    border-radius: 5px;
}

.right-header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    justify-content: end;
    
}

.texto-servicios {
    color: #333;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}

.icono-perfil .profile-icon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* SECTION 1 */

.hero {
    grid-area: hero;
    background-color: #C5D9F8;
    padding: 40px 20px;
    display: grid;
    place-items: center;
    gap: 30px;
}

.hero h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.search-container {
    margin-bottom: 40px;
    justify-self: center;
}

.search-bar {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 20px;
    width: 326px;
    display: grid;
    grid-template-columns: 1fr auto;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
}

.search-bar button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
}

.search-bar button:hover {
    background-color: #0056b3;
}

/* SECTION 2 */

.container {
    grid-area: container;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    width: 97.8%;
    text-align: center;
    margin-top: -2%;
}

.courses {
    display: grid;
    padding: 20px;
    justify-items: center;
    grid-template-columns: auto auto auto;
    padding: 20px 0;
}

.course {
    width: 350px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    text-align: center;
}

.course img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 8px 8px 0 0;
}

.course h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0 5px;
}

.course p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
    margin: 0 0 10px;
    text-align: left;
}

.course-footer {
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 10px solid #C5D9F8;
}

.course-footer .price {
    display: grid;
    font-weight: bold;
    color: #333;
    font-size: 17px;
    justify-content: start;
}

.course-footer button {
    display: grid;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    justify-content: end;
}

.course-footer button:hover {
    background-color: #0056b3;
}

/* FOOTER */
footer {
    grid-area: footer;
    background-color: #C5D9F8;
    text-align: center;
    padding: 15px;
    clear: both;
    margin-top: 20px;
}