body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



.logoYPerfil {
  clear: both;
  padding-bottom: 5%;
}

.logo {
  float: left;
  height: 100px;
  width: 200px;
  margin-left: 2%;
  margin-top: 0.5%;
}

.imagenPerfil {
  float: right;
  height: 40px;
  margin: 2% 3%;
  width: 40px;
  border-radius: 50%;
  background-color: lightcyan;
}

.separador {
  clear: both;
  border-top: 3px solid #ccc;
  margin: 0;
  padding: 0;
}

.sidebar {
  float: left;
  width: 25%;
  height: 100vh;
  text-align: center;
  border-right: 3px solid #ccc;
}

.sidebar h2 {
  margin-left: 15%;
  text-align: left;
}

.menu-item {
  float: left;
  clear: both;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 8px 30% 5px 10px;
  text-align: left;
  border-radius: 15px;
}

.menu-item:hover {
  background-color: lightblue;
}

.menu-item img {
  float: left;
  height: 40px;
  width: 40px;
  margin: 0;
}

.menu-item h3 {
  float: left;
  margin: 0;
  padding: 8px;
  font-size: 16px;
}

.infoUsuarioDatos {
  float: left;
  overflow: hidden;

}





.infoUsuario {
  float: left;
  background-color: lightblue;
  margin-left: 18%;
  margin-top: 20px;
  max-width: 45%;
  border-radius: 18px;
  padding-top: 1%;
}

.infoUsuarioDatos img {
  float: left;
  width: 80px;
  height: 80px;
  max-width: 80px;
  margin-left: 15%;

}

.infoUsuarioDatos h2 {
  float: left;
  padding-top: 5%;
  max-width: 2%;
}

.infoUsuarioDatos p {
  max-width: 60%;
  margin-left: 15%;
  clear: left;
}

.infoUsuarioValoraciones {
  float: right;
}

.infoTrabajos {
  float: left;
  clear: left;
  max-width: 70%;
  width: 100%;
  text-align: center;
}

.infoTrabajos hr {
  max-width: 100%;
}


.separadorInterior {
  float: left;
  text-align: center;
  margin-top: 2%;
  margin-left: 8%;
  width: 60%;
  border-top: 1px solid #cccccc6c;
}

footer {
  clear: both;
  text-align: center;
  padding: 1%;
  font-size: 12px;
  background-color: rgb(173, 216, 230);
  color: black;
}